.chat {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  overflow-x: auto;
}
.chat__header {
  display: flex;
  padding: 0.5rem 1rem;
}
.chat__headerInfo {
  margin-left: 1rem;
}
.chat__headerInfo > h3 {
  font-weight: 600;
}
.chat__headerInfo > p {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(90, 90, 90);
}
.chat__body {
  flex: 1;
  padding: 30px;
  overflow-y: scroll;
}
.chat__messageUser {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: rgb(238, 44, 70);
  color: white;
  margin-left: auto;
  box-shadow: -1px 4px 20px -6px rgb(122, 123, 128);
  position: relative;
}

.chat__message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: white;
  color: black;
  margin-right: auto;
  box-shadow: -1px 4px 20px -6px rgb(122, 123, 128);
  position: relative;
}
.chat__timestamp {
  font-size: xx-small;
  margin-top: 0.3rem;
}
.chat__name {
  position: absolute;
  top: -18px;
  font-weight: 800;
  font-size: 0.7rem;
  color: black;
}

.chat__footer > form {
  display: flex;
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}
.chat__footer > form > input {
  flex: 1;
  border-radius: 20px;
  padding: 0.8rem;
  border: none;
  outline-width: 0;
}
.chat__footer > form > button {
  display: none;
}
