.user {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: white;
  border-radius: 20px;
  box-shadow: -1px 4px 20px -6px rgb(122, 123, 128);
  box-sizing: border-box;
}
.user__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: rgb(248, 248, 110);
  border-radius: 20px;
}
.user__headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 10vw;
}
.user__chat {
  overflow-y: scroll;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}

.show__modal {
  visibility: visible;
  z-index: 10;
}
.modal__container {
  background: url("https://images.hdqwalls.com/download/minions-funny-2-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: 90vw;
  height: 30vh;
  max-width: 500px;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 3rem 3rem;
  position: relative;
}

.modal__container > form,
.userName__container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__container > form > input,
.userName__container > form > input {
  padding: 0.5rem;
  border: 2px solid black;
  outline-width: 0;
  box-shadow: 3px 3px 1px 1px black;
  width: 250px;
}
.newRoom {
  margin-bottom: 1rem;
}
.addBtn {
  margin-top: 1rem;
  background: white;
  border: 2px solid black;
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.3rem 1rem;
  box-shadow: 3px 3px 1px 1px black;
  margin-bottom: 1rem;
}
.userName__container > form > .addBtn {
  margin-top: 0.5rem;
}
.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.userName__container {
  background: url("https://www.wallpapertip.com/wmimgs/251-2515472_mobile-smartphone-4k-funny-cute-wallpaper-best-hd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: 90vw;
  height: 30vh;
  max-width: 500px;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 3rem 3rem;
  position: relative;
}
