.user {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  background-color: white;
  border-radius: 20px;
  box-shadow: -1px 4px 20px -6px rgb(122, 123, 128);
  box-sizing: border-box;
}
.user__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.user__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
.user__chat {
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: white;
  border-radius: 1rem;
  width: 90vw;
  height: 30vh;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
}
