.user {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  background-color: white;
  border-radius: 20px;
  box-shadow: -1px 4px 20px -6px rgb(122, 123, 128);
  padding: 1rem;
  box-sizing: border-box;
}
